	<!-- END FOOTER -->
	
	
	<!-- BEGIN MAPS

	<section id="maps">
		<h6 class="hidden">Location</h6>
		<div id="map"></div>
	</section>

	END MAPS -->
	

	<!-- BEGIN COPYRIGHT -->
	<div class="container">
		<section id="copyright">
			<h6 class="hidden">Copyright</h6>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-5 space-mobile"> 
					<a href="https://www.facebook.com/Videobuzz14/?ref=hl" class="social"><i class="fa fa-facebook"></i></a>
					<!-- <a href="#" class="social"><i class="fa fa-twitter"></i></a> -->
					<!-- <a href="#" class="social"><i class="fa fa-pinterest"></i></a> -->
					<a href="#" class="social"><i class="fa fa-google-plus"></i></a>
					<!-- <a href="#" class="social"><i class="fa fa-instagram"></i></a> -->
					<a href="#" class="social"><i class="fa fa-github"></i></a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-7 text-right">
				Copyright &copy; 2015 by Mediashare.fr - site de partage de contenue<br>
				Réalisation:  <a href="#">Thibault Marquand</a>
				</div>
			</div>
		</section>
	</div>
	<!-- END COPYRIGHT -->