
<!-- BEGIN SECTION LOGO -->
<section id="sectionLogo">
	<div class="sectionLogoOrigamiBall"></div>
	<div class="sectionLogoOrigamiBird"></div>
	<div class="sectionLogoOrigamiBox"></div>
	
	<div class="container">
	
		<div class="info">
			<h2>Mediashare l'actualité en vidéo</h2>
			<p>Plateforme de partage de vidéos, d'actualités et de zapping. Nous savons que l'information est une chose capital dans une société où tout va de plus en vite. Avec internet, aujourd'hui une masse d'information nous est disponnible, il faut savoir pioché les bons ingrédients pour en faire une bonne salade, il faut réapprendre la démocratie. S'ouvrir au sens critique, ne plus ce basé sur une seule source d'information.   </p>
			<p></p>
		</div>
	
		<div class="logo">
			<a href="http://mediashare.fr" id="logo"></a>
		</div>
	</div>
</section>
<!-- END SECTION LOGO -->


